<h1 class="text-center">Shopping Cart</h1>
<hr>
<button class="btn btn-outline-danger" ng-click="editObject();edit = !edit">Edit</button>
<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                    Remove
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="cart in carts">
            <tr>
                <td>
                    <img class="cartImg" ng-src="{{cart.cart.stockItem.image}}">
                    {{cart.cart.stockItem.title}}
                </td>
                <td>
                    {{cart.cart.quantity}}
                </td>
                <td ng-if="edit == true">
                    <input class="input-light-bg" ng-model="cart.cart.quantity">
                </td>
                <td>
                    {{cart.cart.stockItem.price}}
                </td>
                <td>
                    <button class="btn btn-outline-danger" ng-click="remove">Remove</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        Total Quantity: {{totalQuantity}}
                    </td>
                    <td>
                        Total Price: {{totalPrice}}
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <button class="btn btn-outline-danger" ng-click="purchase()">Purchase</button>
    </div>
</div>
{{carts}}