<div class="container">
    <div class="col-sm-12">
        <div class="col-sm-4 col-sm-offset-1">
            <img ng-src="{{item.image}}">
        </div>
        <div class="container">
            {{item.description}}
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <div class="card card-outline-primary">
                <div class="card-block">
                    <div class="container">
                        <h2>{{item.title}}</h2>
                        <h4>{{item.manuf}}</h4>
                        <h4>{{item.price}}</h4>
                        <h4>Left in Stock: {{item.quantity}}</h4>
                        <p ng-if="currentUser.username != null">
                            <button class="btn btn-indigo" ng-click="addToCard(item)">Add to Cart</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>