<div class="col-sm-4 col-sm-offset-1">
    <div class="well well-md login-card">
        <div class="card-block">
            <div class="text-center">
                <h3><i class="fa fa-lock"></i> Login:</h3>
                <hr class="mt-2 mb-2">
            </div>
            <div class="form-group" style="width: 80%">
                <i class="fa fa-envelope prefix"></i>
                <label for="form2">Username</label>
                <input type="text" id="form2" name="email" ng-model="loginUser.username" class="form-control" ng-required="true">
            </div>

            <div class="form-group" style="width: 80%">
                <i class="fa fa-lock prefix"></i>
                <label for="form4">Your password</label>
                <input type="password" id="form4" name="password" ng-model="loginUser.password" class="form-control" required>

            </div>

            <div class="text-center">
                <button ng-click="login()" class="btn btn-primary">Login</button>
            </div>
            <br />
        </div>
    </div>
</div>
<div backstretch backstretch-images="images" backstretch-duration="2000" backstretch-fade="2"></div>
<div class="col-sm-4 col-sm-offset-2">
    <div class="register-position">
    <div class="register-card">
        <div class="well well-md">
            <div class="card-block">
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <input type="text" style="width:25%" ng-model="user.username" name="username" class="form-control" ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <input type="password" style="width:25%" ng-model="user.password" name="password" class="form-control" ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirm Password</label>
                            <input type="password" style="width:25%" ng-model="confirmPassword" name="confirmPassword" class="form-control" ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <input type="text" style="width:25%" ng-model="user.address" name="address" class="form-control" ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Age</label>
                            <input type="text" style="width:25%" ng-model="user.age" name="age" class="form-control" ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <label for="admin" class="control-label">Are you an admin</label>
                            <select id="admin" ng-model="user.admin">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <button ng-click="register()" class="btn btn-warning">Register</button>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>